.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f6f7fb;
  caret-color: transparent;
}

.question-div{
  margin: 0 auto;
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  color: rgb(14, 11, 11);
  box-shadow: rgba(50,50,93,0.25) 0px 30px 60px -12px,
    rgba(0,0,0,0.3) 0px 18px 36x -18px;
    box-shadow: 0.1rem 0.1rem 0.8rem #d7d7d7;
    width: 80%;
  height: auto;
}
.question-div h1{
  font-size: 280%;
}



ul{
  list-style: none;
  outline: none;
}

.question-card li{
  outline: none;
  background-color: white;
  padding: 16px;
  border: 2px solid rgb(183, 183, 183);
  border-radius: 20px; 
  font-size: 32px;
  font-weight: 500;
  margin-top: 8px;
  display: inline-block;
    width: 95%;
  /* transition: color 2s; */
  cursor: pointer;
  pointer-events: inherit;
  /* vertical-align: top;  */
  

}

.question-card ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  }


.click-card ul {
    display: grid;
      grid-template-columns: repeat(5, 1fr);
      /* 5 equal columns */
      grid-gap: 0px;
      /* Optional gap between the items */
      list-style: none;
      /* Remove default list styling */
      padding: 0;
      /* Remove default padding */
      margin: 0;
      /* Remove default margin */
        -webkit-user-select: none;
          /* Safari */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* IE/Edge */
          user-select: none;
    
  
}

.click-card li{

  background-color: white;
  padding: 10px;
  border: 2px solid rgb(183, 183, 183);
  border-radius: 20px; 
  font-size: 32px;
  font-weight: 500;
  margin-top: 8px;
  margin-right: 8px;
  column-width: auto;
  cursor: pointer;
  pointer-events: inherit;
  position: relative;
  outline: none;
}
.clicker-level{
  font-size: 45%;
  padding: 0;
  color: #94e3f9;
  position: absolute;
  top: -2px;
  left: 50%;
}
.click-card {
  outline: none;
}

li:hover
{
  list-style-position:inside;
  border: 2px solid rgb(33, 33, 33);
}
 .disabled-li:not(.nohover){
  cursor: default;
  border: 2px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
  /* pointer-events: none; */
}

.clicker  li {
  /* transition: color 1s;  */
  /* cursor: default; */
  transition:  8s;
  color: white;
  
  border: 2px solid rgb(0,0,0);
}
.clicker li:hover
{
  list-style-position:inside;
  border: 2px solid rgb(33, 33, 33);
}

.mc-right-answer:not(.nohover){
  /* transition: color 1s;  */
  cursor: default;
  color: green;
  border-color: green;
}
.mc-wrong-answer:not(.nohover){
  /* transition: color 1s;  */
  cursor: default;
  color: red;
  border-color: red;
}

.write-wrong-answer{
  color: red;
  border-color: red;
}
.write-right-answer{
  color: green;
  border-color: green;
}
/* li:hover.disabled-li
{
  list-style-position:inside;
  border: 2px solid rgb(200, 200, 200);
} */


input{
  /* display: block; */
  margin: 0;
  font-size: 2rem;
  font: 32px/38px hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  /* appearance: none; */
  background-color:#eeeeee;
  /* box-shadow: 0.1rem 0.1rem 0.8rem #d7d7d7; */
  border: none;

  /* border-bottom: 1px solid rgb(0, 0, 0); */
  caret-color:auto;
  cursor: text;
  /* appearance: none; */
  font-weight: 600;

}

input:focus
{
  background: 
      linear-gradient(#000, #000) center bottom 5px /calc(100% - 15px) 2px no-repeat;
      background-color:#eeeeee;
      /* box-shadow: 0.1rem 0.1rem 0.3rem #7b9087; */
    /* background: 
      linear-gradient(#000, #000) center bottom 5px /calc(100% - 10px) 2px no-repeat; */
  outline: none;
}

input::placeholder
{ 
  font:22px/28px hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
  color:rgb(154, 154, 154)
}

.i-was-right
{
  color: rgb(255, 255, 255);
  background-color: rgb(117, 255, 142);
  /* padding: 5% 5%; */
    text-transform:uppercase;
  border-radius: 6px;
  /* color: rgb(14, 11, 11); */
  /* position: absolute; */
  /* top: 300px;  */
  right: 200px;
  box-shadow: rgba(50,50,93,0.25) 0px 30px 60px -12px,
    rgba(0,0,0,0.3) 0px 18px 36x -18px;
    /* box-shadow: 0.1rem 0.1rem 3.8rem #1d1c1c; */
    width: 30%;
    margin: 0 auto; /* center element horizontally */

    text-align: center;
  /* height: auto; */
}



button.save-save {
    background-color: #4a90e2;
      box-sizing: border-box;
      border: 1px solid #b2ebfc91;
      border-radius: 4px;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

button.save-save:hover {
      background-color: #357abd;
        /* Darker shade on hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Shadow on hover */
}

button.save-save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#songs-names-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.song-name-box {
    background-color: #4a90e2;  
        box-sizing: border-box;
          border: 1px solid #b2ebfc91;
          border-radius: 4px;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
}

.song-name-box:hover {
    background-color: #357abd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CSS */
.button-pretty-1 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  margin-top: -1px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /* width: 100%; */
}

.button-pretty-1:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-pretty-1:main,
.button-pretty-1:focus {
  user-select: auto;
}

.button-pretty-1:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-pretty-1:disabled {
  cursor: auto;
}


.tooltip-container {
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 10px;
}

.question-mark-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: help;
  font-size: 18px;
  line-height: 1;
}

.tooltip-content {
  visibility: hidden;
  width: 200px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  font-weight:600;
  border: 1px solid #71b6c9;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 40px;
  /* Positioning below the button */
  left: 10px;
  /* Align with the left side of the button */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-content b{
  font-weight: bolder;
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.input-container {
  position: relative;
  width: 400px;
  display: inline-block;
  margin-right: 20px;
}

input.input-box:hover {
  border-color: #888;
}

input.input-box:focus {
  border-color: #4a90e2;
  outline: none;
}
.input-box {
  width: 100%;
    padding: 6px 10px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 22px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;

    padding: 10px;
}
.input-box:focus{
  border-color: #469efd;
    background-color: hsla(200, 100%, 99%, 0.715);
    outline: none;
  }

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #e6f7ff;
  color: #007BFF;
  padding: 10px;
  border: 1px solid #99c2ff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 123, 255, 0.1);
  white-space: nowrap;
  font-size: 18px;
}

.input-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.random-logo {
  filter: invert(94%) sepia(0%) saturate(7500%) hue-rotate(315deg) brightness(106%) contrast(107%);
  width: 27px;
  height: 27px;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 5px;
    position: relative;
      top: -1px;
}

.random-button {
  display: flex;
    align-items: center;
}
.random-button-data {
  display: flex;
  align-items: center;
  background-color: #d9f1f9;
      color: white;
}

.random-button-data:after {
  background-color: #5fdeab;
}


.button-tooltip-cont {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.button-tooltip-text {
  visibility: hidden;
  background-color: #55555598;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position the tooltip above the text/button */
  left: 50%;
  margin-left: -60px;
opacity: 0.8;
  transition: opacity 0.3s;
  font-weight: bold;
}
.button-tooltip-cont:hover .button-tooltip-text {
  visibility: visible;
  opacity: 1;
}